@model Domain.Models.UserAgg.User

<div style="direction: rtl; padding: 20px">
    <h2>@Model.Email عزیز !</h2>
    <p>با تشکر از ثبت نام شما در یکتا کالا ، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="https://localhost:44348/Account/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
    </p>
</div>