@model Domain.Models.UserAgg.User

<div style="direction: rtl; padding: 20px">
    <h2>@Model.Email عزیز !</h2>
    <p>جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید</p>
    <p>
        <a href="https://TeamSample/Account/ResetPassword/@Model.ActiveCode">فعالسازی حساب کاربری</a>
    </p>
</div>
