@using Application.Security
<!DOCTYPE html>
<html lang="fa">

<head>
    <partial name="_Style" />
    @RenderSection("css",false)

</head>

<body>

    <div class="page-wrapper">
        <!-- start of page-header -->
        <header class="page-header d-md-block d-none">
            <!-- start banner -->
            <partial name="_header" />

            <!-- end banner -->
            <!-- start of page-header-top -->
            <!-- end of page-header-top -->
            <!-- start of page-header-middle -->
            <!-- end of page-header-middle -->
            <!-- start of page-header-bottom -->
            <!-- end of page-header-bottom -->
        </header>
        <!-- end of page-header -->
        <header class="page-header-responsive d-md-none">
            <div class="page-header-responsive-row mb-3">
                <div class="d-flex align-items-center">
                    <div class="navigation-main">
                        <button class="toggle-navigation"></button>
                        @await Component.InvokeAsync("GroupViewResponsiveComponent")
                        <div class="navigation-overlay" style="display: block;"></div>
                    </div>
                    <div class="logo">
                        <a href="#">
                            <img src="/site/theme-assets/images/logo-dark.svg" alt="">
                        </a>
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {

                    <div class="user-options">
                        <div class="user-option">
                            <a href="/profile" class="user-option-btn user-option-btn--account">
                                <i class="ri-user-fill icon"></i>
                            </a>

                        </div>
                        <div class="user-option">
                            <a href="/Profile/FavoriteProduct" class="user-option-btn user-option-btn--account">
                                <i class="ri-heart-3-fill icon"></i>

                            </a>
                        </div>
                        @await Component.InvokeAsync("Order",User.GetUserId())
                    </div>
                }
                else
                {
                    <ul class="nav nav-pills nav-tabs align-items-center mb-4 " id="sort-tab" role="tablist">

                        <li class="nav-item" role="presentation">
                            <a href="/Register" class="nav-link " id="most-visited-tab" aria-controls="most-visited" aria-selected="true">ثبت نام</a>
                        </li>
                        /
                        <li class="nav-item" role="presentation">
                            <a href="/Login" class="nav-link" id="best-selling-tab" aria-controls="best-selling" aria-selected="false">
                                ورود
                            </a>
                        </li>

                    </ul>
                }
            </div>
            <div class="page-header-responsive-row">
                <div class="search-container">
                    <form asp-controller="Product" asp-action="ProductFilter" method="get" class="search-form">
                        <input type="text" name="name" id="searche" class="form-control search-field" placeholder="جستجو کنید..">
                        <button class="btn btn-primary btn-search btn-action">
                            <i class="ri-search-2-line"></i>
                        </button>
                        <button class="btn btn-primary  btn-action d-none">
                            <i class="ri-search-2-line"></i>
                        </button>
                    </form>

                </div>
            </div>
        </header>
        <!-- start of page-content -->
        @{
            ViewData["Title"] = "Home Page";
        }
        <main class="page-content">


            @RenderBody()

        </main>
        <!-- end of page-content -->
        <partial name="_footer" />
    </div>


    <partial name="_layoutJs" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    @RenderSection("Section",false)

    <script>
        $(document).ready(function () {
            $("#searche").autocomplete({
                source: 'api/ProductApi/Search'
            });

        });
    </script>

</body>

</html>
