@using Application.Security
@using System.Net.NetworkInformation
@model Domain.ViewModels.Ticket.DetailTicketForUserViewModel
@{
    ViewData["Title"] = "DetailTicket";
}


@section css
    {
    <link href="/Admin/assets/css/Custom.css" rel="stylesheet" />
}
<div class="col-xl-9 col-lg-8 col-md-7 center-block">
<div class="ui-box bg-white mb-5">
                            <div class="ui-box-title">
                                کالای غیراصل
                            </div>
                            <div class="ui-box-content">
                                <!-- start of tickets -->
                                <div class="tickets">
                                    <!-- start of ticket -->
                                   @foreach (var message in Model.Messages)
                                   {
                                       <div class="ticket @(message.SenderId!=User.GetUserId()?"reply ":" " )fa-num">
                                           <div class="avatar"></div>
                                           <div class="text">
                                               @Html.Raw(message.Message)
                                               @{
                                                   if (Model.Ticket.IsReadByAdmin && message.SenderId==User.GetUserId())
                                                   {
                                                       <br />
                                                       <span class="date"> is read </span>
                                                   }
                                               }
                                           </div>
                                           <div class="date">@message.CreatDate</div>
                                       </div>
                                   }
                                    <!-- end of ticket -->
                                    <!-- start of ticket -->
                              
                                    <!-- end of ticket -->
                                </div>
                                <!-- end of tickets -->
                                <div class="border-bottom my-4"></div>
                                <div class="ui-box-title p-0 mb-4">
                                    ارسال پاسخ
                                </div>
                                <!-- start of add-ticket-form -->
                                <form method="post" asp-controller="Ticket" asp-action="DetailTicket" class="add-ticket-form" id="SendMessage">
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- start of form-element -->
                                            <div class="form-element-row mb-5">
                                                <label class="label">پیام</label>
                                                <input type="hidden" name="ticketId" value="@Model.Ticket.Id"/>
                                                <textarea name="replyMessage" rows="5" class="form-control" placeholder="متن پیام"></textarea>
                                            </div>
                                            <!-- end of form-element -->
                                        </div>
                                        <div class="col-12">
                                            <!-- start of form-element -->
                                            
                                            <!-- end of form-element -->
                                        </div>
                                        <div class="col-12 text-end">
                                            <button type="submit" onclick="OnClick1()" class="btn btn-primary">ارسال پاسخ <i class="ri-ball-pen-line ms-2"></i></button>
                                        </div>
                                    </div>
                                </form>
                                <!-- end of add-ticket-form -->
                            </div>
                        </div>
</div>
@section Section{
    <script>
        function OnClick1() {
            $("#SendMessage").submit();

        }
    </script>
}

                                            
                                            
                                            
                                  