@using Eshop.Common

<div style="float: right" class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">

        <!--UI Elements-->
       
            <li>
                <a href="#" class="menu-dropdown">
                    <i class="glyphicon glyphicon-user"></i>
                    <span class="menu-text"> مدیریت کاربران </span>

                    <i class="menu-expand"></i>
                </a>

                <ul class="submenu">
                    <li>
                        <a href="/Admin/GetUsers">
                            <span class="menu-text">لیست کاربران</span>
                        </a>
                    </li>

                </ul>
            </li>
       

        <li>
            <a href="#" class="menu-dropdown">
                <i class="glyphicon glyphicon-inbox"></i>
                <span class="menu-text"> مدیریت تماس با ما </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a href="/Admin/GetContactUsss">
                        <span class="menu-text">لیست تماس ها</span>
                    </a>
                </li>

            </ul>
        </li>
       

            <li>
                <a href="#" class="menu-dropdown">
                    <i class="glyphicon glyphicon-comment"></i>
                    <span class="menu-text"> مدیریت تیکت ها </span>

                    <i class="menu-expand"></i>
                </a>

                <ul class="submenu">
                    <li>
                        <a href="/Admin/Ticket">
                            <span class="menu-text">لیست تیکت ها</span>
                        </a>
                    </li>

                </ul>
                <ul class="submenu">
                    <li>
                        <a href="/Admin/AddTicket">
                            <span class="menu-text">افزودن تیکت </span>
                        </a>
                    </li>

                </ul>
            </li>
     

        <li>
            <a href="#" class="menu-dropdown">
                <i class="glyphicon glyphicon-edit"></i>
                <span class="menu-text"> مدیریت محصولات </span>

                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/Admin/Product">
                        <span class="menu-text">لیست محصولات</span>
                    </a>
                </li>

            </ul>
            <ul class="submenu">
                <li>
                    <a href="/Admin/Feature">
                        <span class="menu-text">لیست ویژگی های محصولات</span>
                    </a>
                </li>

            </ul>
            <ul class="submenu">
                <li>
                    <a href="/Admin/Categories">
                        <span class="menu-text">لیست دسته بندی ها</span>
                    </a>
                </li>

            </ul>
        </li>
       
        <li>
            <a href="#" class="menu-dropdown">
                <i class="glyphicon glyphicon-picture"></i>
                <span class="menu-text"> مدیریت بنر ها </span>

                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/Admin/Banners">
                        <span class="menu-text">لیست بنر ها</span>
                    </a>
                </li>

            </ul>
            <ul class="submenu">
                <li>
                    <a href="/Admin/AddBanner">
                        <span class="menu-text">افزودن بنر</span>
                    </a>
                </li>

            </ul>
           
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <i class="glyphicon glyphicon-picture"></i>
                <span class="menu-text"> مدیریت صفحات </span>

                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/Admin/Pages">
                        <span class="menu-text">لیست  صفحات</span>
                    </a>
                </li>

            </ul>
            <ul class="submenu">
                <li>
                    <a href="/Admin/FAQs">
                        <span class="menu-text">مدیریت پرس های متداول</span>
                    </a>
                </li>

            </ul>
           
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <i class="glyphicon glyphicon-picture"></i>
                <span class="menu-text"> مدیریت لیتک ها </span>

                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/Admin/Pages">
                        <span class="menu-text">لیست  لیتک ها</span>
                    </a>
                </li>

            </ul>
            <ul class="submenu">
                <li>
                    <a href="/Admin/SocialMedia">
                        <span class="menu-text">لیست صفحات مجازی</span>
                    </a>
                </li>

            </ul>
           
        </li>
    </ul>
    <!-- /Sidebar Menu -->
</div>