@model Domain.ViewModels.User.ResetPasswordViewModel

<div class="page-wrapper">
   
    @if(ViewBag.IsSuccess!= null && ViewBag.IsSuccess==true){
        <partial name="_SuccessSweetAlert"/>
    }
    <main class="page-content page-auth">
        <!-- start of auth-container -->
        <div class="auth-container">
            <form method="post" asp-controller="Account" asp-action="ResetPassword">
                <input type="hidden" asp-for="ActiveCode"/>
                <div class="auth-title mb-3">
                    <p>بازیابی کلمه عبور</p></div>
                <!-- start of auth-box -->
                <div class="auth-box ui-box">
                    <!-- start of auth-form -->

                    <!-- start of form-element -->
                    <div class="form-element-row mb-5">
                        <input type="password" asp-for="Password" class="form-control" placeholder="رمز عبور ">
                        <span style="color: red" asp-validation-for="Password"></span>

                    </div>

                    <div class="form-element-row mb-5">
                        <input type="password" asp-for="Repassword" class="form-control" placeholder="تکرار رمز عبور ">
                        <span style="color: red" asp-validation-for="Repassword"></span>

                    </div>

                    <div class="form-element-row mb-3">

                        <input type="submit" class="btn btn-primary" value="ثبت"/>
                    </div>
                    <!-- end of form-element -->
                    <!-- start of form-element -->

                    <!-- end of form-element -->

                    <!-- end of auth-form -->
                </div>
                <!-- end of auth-box -->
            </form>
        </div>
        <!-- start of auth-container -->
    </main>
  
</div>