
@{
    ViewData["Title"] = "SuccessRegister";
}

<div class="col-lg-8 mx-auto">
<div class="ui-box bg-white mb-5">
    <div class="ui-box-content">
        <div class="row">
            <div class="col-md-8 order-md-1 order-2">
                <div class="fs-5 fw-bold text-success mb-3">
                    حساب کاربری شما با موفقیت ساخته شد.
                </div>
                <div class="d-flex align-items-center flex-wrap mb-3">
                    
                </div>
                <div class="text-success mb-3">
                    حساب شما اکنون غیر فعال میباشد 
                    ایمیلی حاوی لینک فعالسازی به ایمیل شما ارسال شد جهت فعالسازی حساب به ایمیل خود رفته و روی فعالسازی
                    حساب کلیک کنید
                </div>
                <div class="d-flex align-items-center flex-wrap">
                   
                </div>
            </div>
            <div class="col-md-4 order-md-2 order-1 mb-md-0 mb-4 text-center">
                <img src="/site/theme-assets/images/theme/checkout-successful.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>

</div>