@model Domain.ViewModels.Product.FavoriteProductViewModel
@{
    ViewData["Title"] = "FavoriteProductUser";
}

<div class="row">

    <form id="indexForm">
        <input type="hidden" asp-for="Page" id="page"/>
            <div style="margin: 20px" class="col-lg-4 mb-4">
        @foreach (var item in Model.Entities)
        {

                <div class="swiper-slide" role="group" aria-label="4 / 8" style="width: 230.8px; margin-left: 10px;">
                    <!-- start of product-card -->
                    <div class="product-card">
                        <div class="product-thumbnail">
                            <a href="#">
                                <img src="/images/thumb/@item.Product.ProductGalleries.FirstOrDefault(c => c.IsDefault).ImageName" alt="product title">
                            </a>
                        </div>
                        <div class="product-card-body">
                            <h2 class="product-title">
                                <a href="#">
                                    @item.Product.Title
                                </a>
                            </h2>
                            <div class="product-variant">
                                <span class="color" style="background-color: #24476e;"></span>
                                <span class="color" style="background-color: #12505b;"></span>
                                <span class="color" style="background-color: #e4a793;"></span>
                                <span>+</span>
                            </div>
                            <div class="product-price fa-num">
                                <span class="price-now">@item.Product.Price.ToString("#00") <span class="currency">تومان</span></span>
                            </div>
                        </div>
                        <div class="product-card-footer">
                            <div class="d-flex align-items-center justify-content-between border-top mt-2 py-2">
                                <div class="product-actions">
                                    <ul>
                                        <li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a></li>
                                        <li>
                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="product-rating fa-num">
                                    <i class="ri-star-fill star"></i>
                                    <strong>۴.۴</strong>
                                    <span>(۴۳۶)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of product-card -->
            </div>
        }
        <partial name="_Paging" model="@Model.GetCurrentPaging()"/>
                </div>
    </form>
</div>
@section Section
{
    <script>
    function OnClick(pageId) {
    $("#page").val(pageId)
    $("#indexForm").submit();

    }
</script>
}