@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Domain.Models.Order
@using Application.Convertor

@{
    Layout = "_Layout";
    var orders = ViewData["LastOrders"] as List<Order>;
}
<div class="container">
    <div class="row mb-5">
        <partial name="_SildeBar" />
        <div class="col-xl-9 col-lg-8 col-md-7">

            <div class="row">
                <div class="col-lg-6">
                    <div class="ui-box bg-white mb-5">
                        <div class="ui-box-title">لیست آخرین علاقمندی ها</div>
                        <div class="ui-box-content">
                            <div class="product-list">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="ui-box bg-white mb-5">
                        <div class="ui-box-title">لیست آخرین سفارشها</div>
                        <div class="ui-box-content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>شماره سفارش</th>
                                            <th>کد پیگیری</th>
                                            <th>تاریخ ثبت سفارش</th>
                                            <th>مبلغ کل</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Last Orders-->
                                        @if (orders == null)
                                        {
                                            <tr>
                                                <td class="fa-num">سفارشی موجود نیست</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            @foreach (var order in orders)
                                            {
                                                <tr>
                                                    <td class="fa-num">@order.Id</td>
                                                    <td class="font-en fw-bold">@order.TrackingNumber</td>
                                                    <td class="fa-num text-muted">@order.FinalizedDate.Date.ToShamsi()</td>
                                                    <td class="fa-num fs-6 fw-bold">@order.OrderDetails.Sum(o=>o.Price) <span class="currency">تومان</span></td>
                                                    <td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



