@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}
<div class="container">
                <div class="row mb-5">
               <partial name="_SildeBar"/>
                    <div class="col-xl-9 col-lg-8 col-md-7">
                      
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ui-box bg-white mb-5">
                                    <div class="ui-box-title">لیست آخرین علاقمندی ها</div>
                                    <div class="ui-box-content">
                                        <div class="product-list">
                                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="ui-box bg-white mb-5">
                                    <div class="ui-box-title">آخرین بازدیدهای شما</div>
                                    <div class="ui-box-content">
                                     <!-- Last Logins-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="ui-box bg-white mb-5">
                                    <div class="ui-box-title">لیست آخرین سفارشها</div>
                                    <div class="ui-box-content">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>شماره سفارش</th>
                                                        <th>تاریخ ثبت سفارش</th>
                                                        <th>مبلغ کل</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Last Orders-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>