@using Application.Convertor
@using Domain.Models.Enums
@model Domain.ViewModels.User.UserForProfileDetailViewModel
@{
    ViewData["Title"] ="مشاهده اطلاعات";
}
<main class="page-content">
    <div class="container">
        <div class="row mb-5">
            <partial name="_SildeBar" />
            <div class="col-xl-9 col-lg-8 col-md-7">

                <div class="ui-box bg-white mb-5">
                    <div class="ui-box-title">اطلاعات شخصی</div>
                    <form method="post" asp-controller="Home" asp-action="UserDetail">
                        <div class="ui-box-content">
                            <div class="row">
                                @if (ViewBag.NotFound != null)
                                {

                                
                                    <div class="alert alert-warning alert-dismissible fade show mb-5" role="alert">
                                        <div>
                                            سفارش شما در انتظار پرداخت است. برای جلوگیری از لغو سفارش، لطفا پرداخت را انجام دهید.
                                            <a href="#" class="btn btn-sm btn-primary mx-3">سفارش های من</a>
                                        </div>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                }
                                <div class="col-lg-6 mb-3">
                                    <div class="form-element-row mb-3">
                                        <label class="label fs-7">نام</label>
                                        <input type="text" asp-for="FirstName" class="form-control" placeholder="نام">
                                        <span style="color: red" asp-validation-for="FirstName"></span>

                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-element-row mb-3">
                                            <label class="label fs-7"> نام خانوادگی</label>
                                            <input type="text" asp-for="LastName" class="form-control" placeholder="نام خانوادگی ">
                                            <span style="color: red" asp-validation-for="LastName"></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="border-bottom py-2">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="fs-7 fw-bold text-dark">پست الکترونیک</div>
                                        </div>
                                        <div class="fs-6 fw-bold text-muted">@User.Identity.Name </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-element-row mb-3">
                                            <label class="label fs-7">شماره تماس</label>
                                            <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="شماره تماس">
                                            <span style="color: red" asp-validation-for="PhoneNumber"></span>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-3">
                                    <div class="form-element-row mb-5">
                                        <input type="text" id="test-date-id" asp-for="BirthDay" class="form-control " style="border-radius: 5px" placeholder="تاریخ تولد">
                                        <span style="color: red" asp-validation-for="BirthDay"></span>

                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="row">
                                        <div class="form-element-row mb-5">
                                            <select class="select2" asp-for="Gender" asp-items="Html.GetEnumSelectList(typeof(Gender))"></select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="remodal-footer">
                                    <button type="submit" asp-controller="Home" asp-action="UserDetail" class="btn btn-sm btn-primary px-3">ثبت اطلاعات</button>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>
@section Section
    {
    <script src="//code.jquery.com/jquery.min.js"></script>

    <script src="/js/kamadatepicker.js"></script>
    <script src="/js/kamadatepicker.holidays.js"></script>
    <script src="/js/kamadatepicker.min.js"></script>

    @*  <script src="/js/webpack.config.js"></script>*@


    <script>

        kamaDatepicker('test-date-id', { buttonsColor: "red", forceFarsiDigits: true });
    </script>


}
