@using Domain.Models.Enums
@using Domain.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.ViewModels.ContactUs.ContactUssViewModel

<main class="page-content">
    <form method="post" asp-controller="ContactUss" asp-action="Index">
    <div class="container">
        <!-- start of box => contact-us -->
        <div class="ui-box bg-white">
            <div class="ui-box-title fs-5 fw-bold">تماس با ما</div>
            <div class="ui-box-subtitle flex-wrap">
                لطفاً پیش از ارسال ایمیل یا تماس تلفنی، ابتدا <a href="/faq" class="link mx-2">پرسش های متداول</a>
                را
                مشاهده کنید.
            </div>
            <div class="ui-box-content">
                <div class="fs-7 text-secondary mb-5">برای پیگیری یا سوال درباره سفارش و ارسال پیام بهتر است از
                    فرم
                    زیر استفاده کنید.</div>
                <!-- start of contact-us-form -->
                
                @if (ViewBag.IsSuccess != null)
                {
                    <div class="alert alert-success">پیام شما با موفقیت ثبت شد</div>
                }
                <form action="#" class="contact-us-form">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- start of form-element -->
                            <div class="form-element-row mb-5">
                                <label class="label">موضوع</label>
                                <select class="select2" asp-for="Subject" asp-items="Html.GetEnumSelectList(typeof(ContactUssEnums.Subject))" name="subject" id="subject">

                                </select>
                            </div>
                            <!-- end of form-element -->
                        </div>
                        <div class="col-md-6">
                            <!-- start of form-element -->
                            <div class="form-element-row mb-5">
                                <label class="label">نام و نام خانوادگی</label>
                                <input type="text" asp-for="FullName" class="form-control" placeholder="نام کامل">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                            <!-- end of form-element -->
                        </div>
                        <div class="col-md-6">
                            <!-- start of form-element -->
                            <div class="form-element-row mb-5">
                                <label class="label">ایمیل</label>
                                <input type="text" asp-for="Email" class="form-control" placeholder="example@example.com">
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                            <!-- end of form-element -->
                        </div>
                        <div class="col-md-6">
                            <!-- start of form-element -->
                            <div class="form-element-row mb-5">
                                <label class="label">تلفن تماس</label>
                                <input type="number" asp-for="PhoneNumber" class="form-control" placeholder="09xxxxxxxxx">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                            </div>
                            <!-- end of form-element -->
                        </div>
                        <div class="col-12">
                            <!-- start of form-element -->
                            <div class="form-element-row mb-5">
                                <label class="label">پیام</label>
                                <textarea rows="5" asp-for="Body" class="form-control" placeholder="متن پیام"></textarea>
                                <span asp-validation-for="Body" class="text-danger"></span>

                            </div>
                            <!-- end of form-element -->
                        </div>

                        <div class="col-12 text-end">
                            <button type="submit" class="btn btn-primary px-4">ثبت و ارسال</button>
                        </div>
                    </div>
                </form>
                <!-- end of contact-us-form -->
            </div>
        </div>
        <!-- end of box => contact-us -->
    </div>
    </form>
</main>