@model Tuple<int,int>
<div class="comment">

    <div class="comment-footer">

        <span style="margin-right: 3px" class="glyphicon glyphicon-thumbs-up"><i class="fa-solid fa-thumbs-up"></i>@Model.Item1</span>
       
        <span  class="comment-dislike"><i style="margin-top: 5px" class="fa-solid fa-thumbs-down"></i>@Model.Item2</span>
    </div>
</div>
@section Section
{
    
}
